.tab-handle-text, .panel-titlebar-text {
	font-size : 12px;
	font-weight : normal;
}
.panel-titlebar-button-close {
	font-size : 12px;
	font-weight : normal;
    padding-right: 5px;
    padding-top: 0px;
}
.panel-titlebar-button-close:hover {
	float: right;
    padding-right: 5px;
    padding-top: 0px;
}
.panel-titlebar {
	height: 20px;
}
.panel-titlebar-text {
    padding-left: 5px;
    padding-top: 0px;
}
.tab-handle-list-container {
	height: 20px;
}
.tab-handle-close-button {
	margin-top: 0px;
	margin-right: 6px;
}
